iframe {
  display: block;
  width: 100%;
  border: none;
  overflow-y: auto;
  overflow-x: hidden;
}

html {
  overflow: auto;
}

html, body, div, iframe {
  margin: 0px;
  margin-top: -1px;
  padding: 0px;
  height: 100%;
  border: none;
  background-color: #5b76ae;
}